{% extends 'base.html.twig' %}

{% block title %}Car{% endblock %}

{% block body %}
    <article class="container">
        <div class="row text-center">
            <h1>{{ car.title }}</h1>
        </div>
        {% if car.photo %}
            <div class="row justify-content-center">
                <h4 class="card-title col-5"><img
                            src="{{ asset(car.photo) }}"
                            alt="{{ car.title }}" class="img-thumbnail">
                </h4></div>
        {% endif %}
        <div class="row mt-2 mb-3">

            <div class="accordion accordion-flush" id="accordionExample">
                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingOne">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            {{ car.brand }} {{ car.model }} {{ car.energy }} - {{ car.price }} €
                        </button>
                    </h2>
                    <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
                         data-bs-parent="#accordionExample">
                        <div class="accordion-body">

                            {{ car.description }}
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingTwo">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                            Données du véhicule
                        </button>
                    </h2>
                    <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
                         data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            <li>{{ car.km }} km</li>
                            <li>Année de construction : {{ car.releaseYear }}</li>
                            {% if not car.licenceDriver %}
                                <li>Voiture sans permis</li>
                            {% endif %}
                        </div>
                    </div>
                </div>

            </div>
        </div>


    </article>
    <div class="row justify-content-center"><a href="{{ path('app_main') }}" class="btn btn-success col-2">Retour à
            l'accueil</a></div>
{% endblock %}
